.btn {
    color: #ffffff;
    background-color: #2b398b;
}
.sign_in {
    width: 370px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 370px 62px;
    border: none;
    cursor: pointer;
    
}
header{

    padding-top:100px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
body {
    margin: 0;
}
.form-signin .form-signin-heading, .form-signin{
    /*margin-bottom: 10px;*/
}
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}




