body {
}
.Wrapper {
    margin: 0 auto;
   
}
.heading{

    color:#fdbb30;
}
.container {
    margin: 0 auto;
    position:center;
    padding-top : 50px;
}

    .container .form-control {
        /*width: 200px;*/
    }

    .container h2 {
        font-size: 17px;
        color:#fdbb30;
    }
    ::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
.logged {
    color:#2b398b;
    font-weight:bold;

}
.form-group h2 {
    font-weight:bold;
}
h2 {
     color:#2b398b;
    font-weight:bold;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

form-group btns {
    margin:3px;
}