

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mentor Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Css/Learner.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">


        <form class="form" method="post" action="">

            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Anonymous Report</button>

                <div id="demo" class="collapse">
                    <h2>Comment | Complaint | Suggestion | Report</h2>
                    <div class="form-group">
                        <label for="mesage">Email:</label>
                        <input type="email" class="form-control" name="txtEmail" id="txtEmail" placeholder="Enter Email Address" style="width:200px" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnsubmit" class="btn btn-primary" value="Send" />
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="body-message"></textarea>
                        </div>
                    </div>
                </div>
            </div>



            <input type="button" name="submit" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Login", "Learner")'" />
         
        </form>
        
    </div>
    <div class="container">
        <div class="form-group">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#poe">Weekly Logbook</button>

            <div id="poe" class="collapse">

                <div class="form-group">
                    <label class="control-label col-sm-2"> Mentor's Name:</label>
                    <select class="form-control" id="sel1" style="width:190px">

                        <option>Prudence Mabitsela</option>
                        <option>Prudence Mabitsela & Mthunzi Huna</option>
                        <option>Mthunzi Huna</option>
                        <option>Paul Cloete</option>
                        <option>Warren Groenewald</option>
                        
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" name="tel">Telephone:</label>
                    <input type="tel" class="form-control" name="txtTel" id="txtTel" value="+27 (11) 759 5930"  style="width:190px">
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" name="company">Company Name:</label>
                    <input type="tel" class="form-control" name="txtcompany" id="txtcompany" value="Dynamic Visual Technologies" style="width:190px">
                </div>

                <!--Dates-->
                <div class="form-inline">
                    <label class="control-label col-sm-2">Monday:</label>
                    <input type="date" class="form-control" name="txtDate" id="txtDate" style="width:190px">

                    <div class="form-group">
                        <!-- M -->
                        <input class="form-control" id="monday" name="monday" type="text" placeholder="Task Completed Monday" />
                    </div>

                    <div class="form-group">
                   
                    <select class="form-control" id="mon" style="width:85px">

                        <option>True</option>
                        <option>False</option>
                                              
                    </select>
                        
		        </div>
                    <div class="form-group">

                        <select class="form-control" id="monH" style="width:98px">

                            <option>0 Absent</option>
                            <option>1 Hour</option>
                            <option>2 Hours</option>
                            <option>3 Hours</option>
                            <option>4 Hours</option>
                            <option>5 Hours</option>
                            <option>6 Hours</option>
                            <option>7 Hours</option>
                            <option>8 Hours</option>

                        </select>
                        <div class="form-group">
                          
                            <input type="text" class="form-control" name="txtPM" id="txtPM" placeholder="Problems(Optional)" style="width:150px">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtMC" id="txtMC" placeholder="Comments(Optional)" style="width:150px">
                        </div>


                    </div>

                </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2">Tueday:</label>
                    <input type="date" class="form-control" name="txtDate" id="txtDate" style="width:190px">

                    <div class="form-group">
                        <!-- T -->
                        <input class="form-control" id="tuesday" name="tuesday" type="text" placeholder="Task Completed Tuesday" />
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="mon" style="width:85px">

                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="tueH" style="width:98px">

                            <option>0 Absent</option>
                            <option>1 Hour</option>
                            <option>2 Hours</option>
                            <option>3 Hours</option>
                            <option>4 Hours</option>
                            <option>5 Hours</option>
                            <option>6 Hours</option>
                            <option>7 Hours</option>
                            <option>8 Hours</option>

                        </select>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtPT" id="txtPT" placeholder="Problems(Optional)" style="width:150px">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtTC" id="txtTC" placeholder="Comments(Optional)" style="width:150px">
                        </div>
                    </div>
                 </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2">Wednesday:</label>
                    <input type="date" class="form-control" name="txtDate" id="txtDate" style="width:190px">

                    <div class="form-group">
                        <!-- W -->
                        <input class="form-control" id="wednesday" name="wednesday" type="text" placeholder="Task Completed Wednesday" />
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="mon" style="width:85px">

                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="wedH" style="width:98px">

                            <option>0 Absent</option>
                            <option>1 Hour</option>
                            <option>2 Hours</option>
                            <option>3 Hours</option>
                            <option>4 Hours</option>
                            <option>5 Hours</option>
                            <option>6 Hours</option>
                            <option>7 Hours</option>
                            <option>8 Hours</option>

                        </select>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtPW" id="txtPW" placeholder="Problems(Optional)" style="width:150px">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtWC" id="txtWC" placeholder="Comments(Optional)" style="width:150px">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2">Thursday:</label>
                    <input type="date" class="form-control" name="txtDate" id="txtDate" style="width:190px">

                    <div class="form-group">
                        <!-- Th -->
                        <input class="form-control" id="thursday" name="thursday" type="text" placeholder="Task Completed Thursday" />
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="thu" style="width:85px">

                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="thuH" style="width:98px">

                            <option>0 Absent</option>
                            <option>1 Hour</option>
                            <option>2 Hours</option>
                            <option>3 Hours</option>
                            <option>4 Hours</option>
                            <option>5 Hours</option>
                            <option>6 Hours</option>
                            <option>7 Hours</option>
                            <option>8 Hours</option>

                        </select>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtPTH" id="txtPTH" placeholder="Problems(Optional)" style="width:150px">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtThC" id="txtThC" placeholder="Comments(Optional)" style="width:150px">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <label class="control-label col-sm-2">Friday:</label>
                    <input type="date" class="form-control" name="txtDate" id="txtDate" style="width:190px">

                    <div class="form-group">
                        <!-- F -->
                        <input class="form-control" id="friday" name="friday" type="text" placeholder="Task Completed Friday" />
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="fri" style="width:85px">

                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <select class="form-control" id="friH" style="width:98px">

                            <option>0 Absent</option>
                            <option>1 Hour</option>
                            <option>2 Hours</option>
                            <option>3 Hours</option>
                            <option>4 Hours</option>
                            <option>5 Hours</option>
                            <option>6 Hours</option>
                            <option>7 Hours</option>
                            <option>8 Hours</option>

                        </select>
                        <div class="form-group">

                            <input type="text" class="form-control" name="txtPF" id="txtPF" placeholder="Problems(Optional)" style="width:150px">
                        </div>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" name="txtFC" id="txtFC" placeholder="Comments(Optional)" style="width:150px">
                    </div>
                </div>
               
                <div class="form-group" style="margin:2px">
                    <label class="control-label col-sm-2" name="txtSig">Learner Signature:</label>
                    <input type="text" class="form-control" name="txtSig" id="txtTel" value="" style="width:190px">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" name="txtDS">Date Signature:</label>
                    <input type="date" class="form-control" name="txtDS" id="txtTel" value="" style="width:190px">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="btnSub" class="btn btn-primary" value="Submit" />
                        <input type="button" name="btnHome" class="btn btn-primary" value="Cancel" onclick="location.href='@Url.Action("Complete", "Complete")'" />
                        <input type="button" name="btnHome" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Complete", "Complete")'" />
                    </div>
                </div>

            </div>


        </div>

    </div>

</body>
</html>
