<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Home.css" />
    
</head>
<body>

    <div class="Wrapper">
      
                <ul id="Primary">

                    <li>@Html.ActionLink("Learner Login", "Login", "Learner")</li>
                    <li>@Html.ActionLink("Mentor Login", "Login", "Mentor")</li>


                </ul>
     

    </div>

</body>
</html>
