<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Home.css" />
    
</head>
<body>
          <div class="Wrapper">
      
        @*<h3 style="font-weight:bold;  color:#fdbb30;">Learners Log System</h3>*@
                <ul id="Primary">

                                       <li>@Html.ActionLink("Learners Portal", "Login", "Learner")</li>
                    <li>@Html.ActionLink("Mentors Portal", "Login", "Mentor")</li>

                </ul>
         </div>

</body>
</html>
