<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Master.css"/>
</head>
<body>

    <div class="Wrapper">

        <header>

          <img src="~/Images/Dynamic.png" alt="DVT"/>
            
        </header>


    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
