
@{
    //ViewBag.Title = "Success";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<br />
<br />


<h2>Successfully Uploaded File</h2>
<div class="alert" style="color:#0c7019">

    @ViewBag.filename

</div>
<div class="form-horizontal">

    <input type="button" name="btnHome" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Learner_Home", "LearnersHome")'" />
    <input type="button" name="btnHome" class="btn btn-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
    <input type="button" name="submit" class="btn btn-primary" value="Logout" onclick="location.href='@Url.Action("Login", "Learner")'" />
</div>
